# Gathering and Cleaning Data 

## DEEP Workshop #2
The goal of this notebook is to give you the knowledge of how to access and begin to understand a new data set.

### Table of contents: 
1. Review: Pandas Data Structures
2. Reading in Data
3. Getting an Initial Sense for the Data
4. Selecting Data Subsets
5. Computations and New Columns
6. Grouping and Aggregating the Data

### Data Overview 
We are using a dataset on different cereals. Most of the columns are self explanatory but there are two columns that are coded: 
- mfr: Manufacturer of cereal
    - A = American Home Food Products;
    - G = General Mills
    - K = Kelloggs
    - N = Nabisco
    - P = Post
    - Q = Quaker Oats
    - R = Ralston Purina
- type:
    - cold
    - hot
   
You can find more about the dataset here: https://www.kaggle.com/crawford/80-cereals

# Review: Pandas Data Structures 

In pandas, there are two key data structures - a series and a dataframe.
A series a one-dimensional labeled array (or list) capable of holding any data type.
A dataframe represents tabular data and is composed of columns, where each column is a series.

You can read more about the basic data structures in Panda's documentation: https://pandas.pydata.org/docs/user_guide/dsintro.html

# Reading in Data

Before we can learn about pandas we need to read in the library. \
In python libraries are read in like this:
```
import library_name as some_abbreviation
```

First we want to access the data we will be using pandas.

To read-in and create a new data frame from a csv in pandas we use:

```
df = pd.read_csv('path or url to csv')
```

In [ ]:
import pandas as pd

In [13]:
cereal_df = pd.read_csv('cereal.csv')
cereal_df.shape

(77, 16)

# Getting an Initial Sense for the Data  
The pandas DataFrame object that we just created has a lot of useful methods and attributes or getting a sense of what is included in our data.

A usefull attribute for determining the number of rows and columns of your data is:
```
df.shape #shape is an attriute not a method so we don't use parenthesis
```
To get a quick look at the first couple rows of your data use:
```
df.head() 
```
To get number of unique values in the dataframe 
```
df.nunique()
```

### Q: What are the dimensions/shape of the cereal dataset?

In [ ]:
df.shape

(44284, 119)

### Q: Look at the head of the dataset. What does each row represent?

In [14]:
cereal_df.head()

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843

[5 rows x 16 columns]

### Q: What are the columns in the dataset? What datatype is each column?

In [9]:
print(df.dtypes)

gmDate         object
gmTime         object
seasTyp        object
offLNm         object
offFNm         object
               ...
opptAR        float64
opptAST/TO    float64
opptSTL/TO    float64
poss          float64
pace          float64
Length: 119, dtype: object

### Q: How many unique ratings are there?

In [12]:
df.loc[:,'teamPTS'].nunique()

90

# Selecting Subsets 
A useful methods for selecting rows and columns:\
`subset_df = df.loc[desired rows, desired columns]`

For example if we wanted all rows but only the name and rating columns we would use:\
`cerealName_rating_df = cereal_df.loc[:, ['name', 'rating']]`

Or if we wanted only the first 50 rows but all columnns we would use:\
`first_50_df = cereal_df.loc[range(50), : ]`

We can also use boolean logic to select specific rows:\
`kellogs_df = cereal_df.loc[cereal_df.mfr == "K", :]`

### Q: What are the names of all the cereals made by General Mills? How many cereals are made by General Mills?

Hint: the code for General Mills is G

In [18]:
gm_df = cereal_df.loc[cereal_df.mfr == "G", :]
gm_df.head()
gm_df.name.nunique()

22

### Q: What is the highest rating value in the dataset? What is the lowest rating value in the dataset?

In [21]:
cereal_df.loc[:, "rating"].max()

93.704912

### Q: How many cereals have sugar content over 5?

In [26]:
cereal_df.loc[cereal_df.sugars > 5].shape[0]

46

# Computations and New Columns

We can also use typical mathematical opperators on columnns or data frame.

For example, to convert milligrams of sodium to grams, we would multiply the sodium column by 1000. **(NOTE: this will not actually change the value of the column. Instead a new series is returned)**
```
cereal_df.loc[:, "sodium"] * 1000 # note this will not actually change the value of the column
```

To create new or overiding existing columns from computations: 
```
df.loc[:, "column_name"] = a single value or an array type (ie. list, series, ect.)
```

So if we wanted to make a column of sodium in grams, we would do: 
```
cereal_df.loc[:, "grams_sodium"] = cereal_df.loc[:, "sodium"] * 1000
```

--- 
We can also use multiple columns in computations. For example, to compute the ratio of sugars to calories: 
```
cereal_df.loc[:, "sugars"] / (cereal_df.loc[:, "calories"])
```


Sometimes we want to make computations on single or multiple columns of our data. To do this we can use common mathematical opperations such as `.sum()`, `.mean()`, `.std()`, `median()`.

For example to compute the mean (or average) cumulative number of sugars:
```
cereal_df.loc[:,"sugars"].mean()
```

### Q: Create a column for grams of potassium. (Note: potassium is currently measured in milligrams.)

In [28]:
cereal_df.loc[:, "grams_potassium"] = cereal_df.loc[:, "potass"] / 1000
cereal_df.head()

                        name mfr type  ...  cups     rating  grams_potassium
0                  100% Bran   N    C  ...  0.33  68.402973            0.280
1          100% Natural Bran   Q    C  ...  1.00  33.983679            0.135
2                   All-Bran   K    C  ...  0.33  59.425505            0.320
3  All-Bran with Extra Fiber   K    C  ...  0.50  93.704912            0.330
4             Almond Delight   R    C  ...  0.75  34.384843           -0.001

[5 rows x 17 columns]

### Q: Can you create a column of sugar/weight?

In [30]:
cereal_df.loc[:, "sugardivweight"] = cereal_df.loc[:, "sugars"] / cereal_df.loc[:, "weight"]
cereal_df.head()

                        name mfr  ... grams_potassium  sugardivweight
0                  100% Bran   N  ...           0.280             6.0
1          100% Natural Bran   Q  ...           0.135             8.0
2                   All-Bran   K  ...           0.320             5.0
3  All-Bran with Extra Fiber   K  ...           0.330             0.0
4             Almond Delight   R  ...          -0.001             8.0

[5 rows x 18 columns]

### Q: What is the mean and median for sugar amount? Are they the same or different?

In [35]:
print(cereal_df.loc[:, 'sugars'].mean())
cereal_df.loc[:, 'sugars'].median()
cereal_df.sugars.mean()

6.922077922077922

6.922077922077922

### Q: What is the mean and median for fiber? Are they the same or different?

In [38]:
cereal_df.fiber.mean()
cereal_df.fiber.median()

2.0

# Sorting

Dataframes make it easy to sort values in a specific column. For example, if we wanted to sort the dataframe by sugar levels, we would do: 
```
cereal_df.sort_values(by=['sugars])
```

By default, the sort is in ascending order (lowest to high). To sort in descending order, do: 
```
cereal_df.sort_values(by=['sugars], ascending=False)
```

### Q: What cereals have the most number of calories?

In [41]:
cereal_df.sort_values(by=['calories'], ascending = False)

                                 name mfr  ... grams_potassium  sugardivweight
46               Mueslix Crispy Blend   K  ...           0.160        8.666667
44   Muesli Raisins; Dates; & Almonds   R  ...           0.170       11.000000
45  Muesli Raisins; Peaches; & Pecans   R  ...           0.170       11.000000
70                  Total Raisin Bran   G  ...           0.230        9.333333
39             Just Right Fruit & Nut   K  ...           0.095        6.923077
..                                ...  ..  ...             ...             ...
2                            All-Bran   K  ...           0.320        5.000000
0                           100% Bran   N  ...           0.280        6.000000
3           All-Bran with Extra Fiber   K  ...           0.330        0.000000
55                       Puffed Wheat   Q  ...           0.050        0.000000
54                        Puffed Rice   Q  ...           0.015        0.000000

[77 rows x 18 columns]

### Q: What cereals have the least number of calories?

In [46]:
cereal_df.loc[cereal_df.calories == cereal_df.calories.max()]

                    name mfr type  ...     rating  grams_potassium  sugardivweight
46  Mueslix Crispy Blend   K    C  ...  30.313351             0.16        8.666667

[1 rows x 18 columns]

# Grouping and Aggregating the Data

Sometimes we want to look at our data at a different granularity. Pandas allows us to do this by grouping on columns.

For example to look at the average values for cold vs hot cereal: \
```
hot_cold_df = cereal_df.groupby(["type"]).mean().reset_index()
```

---

Q: Can you create a dataframe that is grouped by date?\
Q: What is the shape/dimensions of the new data frame? Does this make sense based off of the number of recorded days of data? 
Q: What does this new data frame represent?

You can also print off the head of this new data frame if you want to get a better sense of what it includes.

### Q: What are the average cereal measurements per manufacturer of cereal (mfr) ?

In [59]:
manu_df = cereal_df.groupby(["mfr"]).mean().reset_index().sort_values(by=['sodium'], axis=0, ascending = True)
manu_df.head()

  mfr    calories   protein  ...     rating  grams_potassium  sugardivweight
0   A  100.000000  4.000000  ...  54.850917         0.095000        3.000000
3   N   86.666667  2.833333  ...  67.968567         0.120667        1.833333
5   Q   95.000000  2.625000  ...  42.915990         0.074375        5.250000
4   P  108.888889  2.444444  ...  41.705744         0.113889        8.169591
2   K  108.695652  2.652174  ...  44.038462         0.103043        6.952088

[5 rows x 16 columns]